.App {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* margin: 50px; */
}
.main_container {
  width: 500px;
  height: 180px;
  border: 2px dashed blue;
  border-radius: 10px;
  background-color: rgb(228, 228, 246);
}
